<div class="total-container">
    <div class="sub-head" style="margin-top: 50px;">
        <img style="width: 15%;" src="https://hrswebapps.byu.edu/seoty/img/SELogo.png">
        <h1 style="margin-left: 30px; margin-top: 100px;">Student Employee of the Year</h1>
    </div>
    <br><br>
    <h2>Current Nominations</h2>
    <table>
        <tr>
            <th>View</th>
            <th>Nominator</th>
            <th>Nominee</th>
            <th>Department</th>
            <th>Date</th>
            <th>Contact</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>pdf link</td>
            <td>John C. Mather</td>
            <td>Nobel Co.</td>
            <td>Computer Science</td>
            <td>January 8th, 1999</td>
            <td>
                08100101<br>email.com
            </td>
            <td>
                <button>edit</button>
            </td>
            <td><button>delete</button></td>
        </tr>
    </table>
</div>